<p>The sentences used in this plugin are in English. Help the others users using the same language as you by translating this plugin.</p><p>This plugin is available in 24 languages.</p><p>There are 65 sentences to be translated in this plugin.</p>					<table class="widefat fixed" cellspacing="0">
						<thead>
							<tr>
								<tr>
									<th class="manage-column column-columnname" scope="col">Language</th>
									<th class="manage-column column-columnname" scope="col">Ratio %</th>
									<th class="manage-column column-columnname" scope="col">Translators</th>
								</tr>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<tr>
									<th class="manage-column column-columnname" scope="col">Language</th>
									<th class="manage-column column-columnname" scope="col">Ratio %</th>
									<th class="manage-column column-columnname" scope="col">Translators</th>
								</tr>
							</tr>
						</tfoot>
						<tbody>
							<tr class="alternate" valign="top" id="lignear_AE"> 
								<td class="column-columnname">
									<span id="cell_ar_AE_1" ><span class='pt_flag' style='background-position: -18px -0px;'>&nbsp;</span><b>العربية/الإمارات</b> (ar_AE)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_ar_AE_ar_AE').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_ar_AE_ar_AE').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'ar_AE') ; return false ; " id="modify_transimagezoomimagezoom_false_ar_AE_ar_AE">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_ar_AE_ar_AE' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_AE_2" ><p><b>65/65</b> sentences have been translated (i.e. <b>100%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_AE_3" >FajrYassin &lt;<a href='mailto:fajryassin@gmail.com'>fajryassin@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignear_LB"> 
								<td class="column-columnname">
									<span id="cell_ar_LB_1" ><span class='pt_flag' style='background-position: -180px -60px;'>&nbsp;</span><b>العربية/لبنان</b> (ar_LB)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_ar_LB_ar_LB').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_ar_LB_ar_LB').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'ar_LB') ; return false ; " id="modify_transimagezoomimagezoom_false_ar_LB_ar_LB">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_ar_LB_ar_LB' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_LB_2" ><p><b>65/65</b> sentences have been translated (i.e. <b>100%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_LB_3" >FajrYassin &lt;<a href='mailto:fajryassin@gmail.com'>fajryassin@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignear_SY"> 
								<td class="column-columnname">
									<span id="cell_ar_SY_1" ><span class='pt_flag' style='background-position: -54px -108px;'>&nbsp;</span><b>العربية/سوريا</b> (ar_SY)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_ar_SY_ar_SY').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_ar_SY_ar_SY').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'ar_SY') ; return false ; " id="modify_transimagezoomimagezoom_false_ar_SY_ar_SY">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_ar_SY_ar_SY' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_SY_2" ><p><b>40/65</b> sentences have been translated (i.e. <b>61.5%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_SY_3" >aboRoma &lt;<a href='mailto:jacksacali@gmail.com'>jacksacali@gmail.com</a>&gt;, Dimajahiz &lt;<a href='mailto:admin@dimajahiz.com'>admin@dimajahiz.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignebg_BG"> 
								<td class="column-columnname">
									<span id="cell_bg_BG_1" ><span class='pt_flag' style='background-position: 0px -12px;'>&nbsp;</span><b>Български</b> (bg_BG)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_bg_BG_bg_BG').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_bg_BG_bg_BG').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'bg_BG') ; return false ; " id="modify_transimagezoomimagezoom_false_bg_BG_bg_BG">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_bg_BG_bg_BG' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_bg_BG_2" ><p><b>40/65</b> sentences have been translated (i.e. <b>61.5%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_bg_BG_3" >Vangelov &lt;<a href='mailto:vangelov@stselectronics.eu'>vangelov@stselectronics.eu</a>&gt;, KalinLynnDimitrov &lt;<a href='mailto:cassidycornell@abv.bg'>cassidycornell@abv.bg</a>&gt;, KonstantinYovev (<a href='http://www.bitsbg.eu'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignecs_CZ"> 
								<td class="column-columnname">
									<span id="cell_cs_CZ_1" ><span class='pt_flag' style='background-position: -72px -24px;'>&nbsp;</span><b>Čeština</b> (cs_CZ)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_cs_CZ_cs_CZ').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_cs_CZ_cs_CZ').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'cs_CZ') ; return false ; " id="modify_transimagezoomimagezoom_false_cs_CZ_cs_CZ">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_cs_CZ_cs_CZ' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_cs_CZ_2" ><p><b>24/65</b> sentences have been translated (i.e. <b>36.9%</b>) <span style='color:#CCCCCC'> 1 sentences have to be checked because they are close (but not identical) to those to translate.</span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_cs_CZ_3" >jurajh, LukasProkop (<a href='http://lukasp.eu'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignede_DE"> 
								<td class="column-columnname">
									<span id="cell_de_DE_1" ><span class='pt_flag' style='background-position: -108px -24px;'>&nbsp;</span><b>Deutsch/Deutschland</b> (de_DE)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_de_DE_de_DE').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_de_DE_de_DE').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'de_DE') ; return false ; " id="modify_transimagezoomimagezoom_false_de_DE_de_DE">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_de_DE_de_DE' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_de_DE_2" ><p><b>56/65</b> sentences have been translated (i.e. <b>86.1%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_de_DE_3" >tcp443 (<a href='http://www.tcp443.de'>his website</a>), B.Klein (<a href='http://www.kpowered.de'>his website</a>), Frutte (<a href='http://www.figaros-netzwerk.de'>his website</a>), Dirk &lt;<a href='mailto:dirk@dredv.de'>dirk@dredv.de</a>&gt;, Robin &lt;<a href='mailto:rc.tontechnik@gmail.com'>rc.tontechnik@gmail.com</a>&gt;, Francisco (<a href='http://franko.cubava.cu'>his website</a>), Lothar &lt;<a href='mailto:kontakt@ezigarette-discount.de'>kontakt@ezigarette-discount.de</a>&gt;, MDS &lt;<a href='mailto:marcel.daniel.schott@googlemail.com'>marcel.daniel.schott@googlemail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneen_US"> 
								<td class="column-columnname">
									<span id="cell_en_US_1" ><span class='pt_flag' style='background-position: -198px -108px;'>&nbsp;</span><b>English/United States</b> (en_US)</span>
								</td>
								<td class="column-columnname">
									<span id="cell_en_US_2" ><p style='color:#CCCCCC'>This is the default language of the plugin. It cannot be modified.</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_en_US_3" ></span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignees_ES"> 
								<td class="column-columnname">
									<span id="cell_es_ES_1" ><span class='pt_flag' style='background-position: -72px -36px;'>&nbsp;</span><b>Español/España</b> (es_ES)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_es_ES_es_ES').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_es_ES_es_ES').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'es_ES') ; return false ; " id="modify_transimagezoomimagezoom_false_es_ES_es_ES">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_es_ES_es_ES' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_es_ES_2" ><p><b>65/65</b> sentences have been translated (i.e. <b>100%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_es_ES_3" >genteblackberry (<a href='http://newgenteblackberry.com'>his website</a>), Wildsouth &lt;<a href='mailto:wildsout@gmail.com'>wildsout@gmail.com</a>&gt;, Paul (<a href='http://www.tecnofilos.net'>his website</a>), RUDIS &lt;<a href='mailto:ffernandezf@estudiantes.udg.co.cu'>ffernandezf@estudiantes.udg.co.cu</a>&gt;, yanmarcosgtmo (<a href='http://ajedrezdiscapacitados.cubava.cu'>his website</a>), yorkel, DJREY (<a href='http://www.reynerio.cubava.cu'>his website</a>), Francisco (<a href='http://franko.cubava.cu'>his website</a>), AlfonsoMarn (<a href='http://Qastusoft.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignefa_IR"> 
								<td class="column-columnname">
									<span id="cell_fa_IR_1" ><span class='pt_flag' style='background-position: -180px -48px;'>&nbsp;</span><b>فارسی</b> (fa_IR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_fa_IR_fa_IR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_fa_IR_fa_IR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'fa_IR') ; return false ; " id="modify_transimagezoomimagezoom_false_fa_IR_fa_IR">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_fa_IR_fa_IR' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_fa_IR_2" ><p><b>36/65</b> sentences have been translated (i.e. <b>55.3%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_fa_IR_3" >amirhosein &lt;<a href='mailto:h.kabiri@rocketmail.com'>h.kabiri@rocketmail.com</a>&gt;, SaeedKholousi &lt;<a href='mailto:saeedsk205@gmail.com'>saeedsk205@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignefr_FR"> 
								<td class="column-columnname">
									<span id="cell_fr_FR_1" ><span class='pt_flag' style='background-position: -144px -36px;'>&nbsp;</span><b>Français/France</b> (fr_FR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_fr_FR_fr_FR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_fr_FR_fr_FR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'fr_FR') ; return false ; " id="modify_transimagezoomimagezoom_false_fr_FR_fr_FR">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_fr_FR_fr_FR' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_fr_FR_2" ><p><b>65/65</b> sentences have been translated (i.e. <b>100%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_fr_FR_3" >SedLex (<a href='http://www.sedlex.fr/'>his website</a>), mediacop, FlorianP. &lt;<a href='mailto:floflo63400@gmail.com'>floflo63400@gmail.com</a>&gt;, LaurentChemla &lt;<a href='mailto:laurent@brainstorm.fr'>laurent@brainstorm.fr</a>&gt;, FabienPardo &lt;<a href='mailto:fabien009@hotmail.com'>fabien009@hotmail.com</a>&gt;, GizProd (<a href='http://www.gizprod.fr'>his website</a>), Francisco (<a href='http://franko.cubava.cu'>his website</a>), Cdric (<a href='http://www.cegeek.fr'>his website</a>), Haugier &lt;<a href='mailto:thierry.haugier@gmail.com'>thierry.haugier@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignehr_HR"> 
								<td class="column-columnname">
									<span id="cell_hr_HR_1" ><span class='pt_flag' style='background-position: -54px -48px;'>&nbsp;</span><b>Hrvatski</b> (hr_HR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_hr_HR_hr_HR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_hr_HR_hr_HR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'hr_HR') ; return false ; " id="modify_transimagezoomimagezoom_false_hr_HR_hr_HR">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_hr_HR_hr_HR' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_hr_HR_2" ><p><b>14/65</b> sentences have been translated (i.e. <b>21.5%</b>) <span style='color:#CCCCCC'> 1 sentences have to be checked because they are close (but not identical) to those to translate.</span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_hr_HR_3" >Rene (<a href='http://thefalljourney.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignehu_HU"> 
								<td class="column-columnname">
									<span id="cell_hu_HU_1" ><span class='pt_flag' style='background-position: -72px -48px;'>&nbsp;</span><b>Magyar</b> (hu_HU)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_hu_HU_hu_HU').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_hu_HU_hu_HU').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'hu_HU') ; return false ; " id="modify_transimagezoomimagezoom_false_hu_HU_hu_HU">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_hu_HU_hu_HU' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_hu_HU_2" ><p><b>19/65</b> sentences have been translated (i.e. <b>29.2%</b>) <span style='color:#CCCCCC'> 1 sentences have to be checked because they are close (but not identical) to those to translate.</span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_hu_HU_3" >Metoyou (<a href='http://webdesignelemek.hu'>his website</a>), DvnyiFerenc (<a href='http://webdesignelemek.hu'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneit_IT"> 
								<td class="column-columnname">
									<span id="cell_it_IT_1" ><span class='pt_flag' style='background-position: 0px -60px;'>&nbsp;</span><b>Italiano/Italia</b> (it_IT)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_it_IT_it_IT').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_it_IT_it_IT').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'it_IT') ; return false ; " id="modify_transimagezoomimagezoom_false_it_IT_it_IT">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_it_IT_it_IT' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_it_IT_2" ><p><b>60/65</b> sentences have been translated (i.e. <b>92.3%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_it_IT_3" >Mauro &lt;<a href='mailto:faveromauro@hotmail.com'>faveromauro@hotmail.com</a>&gt;, ManuelIzziL. &lt;<a href='mailto:manuel.izzi@vigevanofoto.it'>manuel.izzi@vigevanofoto.it</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignelt_LT"> 
								<td class="column-columnname">
									<span id="cell_lt_LT_1" ><span class='pt_flag' style='background-position: -36px -72px;'>&nbsp;</span><b>Lietuvių/Lietuva</b> (lt_LT)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_lt_LT_lt_LT').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_lt_LT_lt_LT').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'lt_LT') ; return false ; " id="modify_transimagezoomimagezoom_false_lt_LT_lt_LT">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_lt_LT_lt_LT' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_lt_LT_2" ><p><b>17/65</b> sentences have been translated (i.e. <b>26.1%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_lt_LT_3" >ydrius (<a href='http://meninisautolyginimas.lt'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignenl_NL"> 
								<td class="column-columnname">
									<span id="cell_nl_NL_1" ><span class='pt_flag' style='background-position: -54px -84px;'>&nbsp;</span><b>Nederlands / Nederland</b> (nl_NL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_nl_NL_nl_NL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_nl_NL_nl_NL').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'nl_NL') ; return false ; " id="modify_transimagezoomimagezoom_false_nl_NL_nl_NL">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_nl_NL_nl_NL' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_nl_NL_2" ><p><b>41/65</b> sentences have been translated (i.e. <b>63%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_nl_NL_3" >SedLex (<a href='http://www.sedlex.fr/'>his website</a>), PC-Rider &lt;<a href='mailto:annodevries@gmail.com'>annodevries@gmail.com</a>&gt;, Erik (<a href='http://www.digihulpdienst.nl'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="ligneno_NO"> 
								<td class="column-columnname">
									<span id="cell_no_NO_1" ><span class='pt_flag' style='background-position: -90px -84px;'>&nbsp;</span><b>Norsk / Norge</b> (no_NO)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_no_NO_no_NO').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_no_NO_no_NO').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'no_NO') ; return false ; " id="modify_transimagezoomimagezoom_false_no_NO_no_NO">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_no_NO_no_NO' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_no_NO_2" ><p><b>40/65</b> sentences have been translated (i.e. <b>61.5%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_no_NO_3" >SimenEggen &lt;<a href='mailto:simen@simeneggen.com'>simen@simeneggen.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignepl_PL"> 
								<td class="column-columnname">
									<span id="cell_pl_PL_1" ><span class='pt_flag' style='background-position: 0px -96px;'>&nbsp;</span><b>Polski/Polska</b> (pl_PL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_pl_PL_pl_PL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_pl_PL_pl_PL').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'pl_PL') ; return false ; " id="modify_transimagezoomimagezoom_false_pl_PL_pl_PL">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_pl_PL_pl_PL' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_pl_PL_2" ><p><b>33/65</b> sentences have been translated (i.e. <b>50.7%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_pl_PL_3" >rzuf &lt;<a href='mailto:info@andrek.info'>info@andrek.info</a>&gt;, ukasz (<a href='http://orinek.info'>his website</a>), Lukasz (<a href='http://orinek.info'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignept_BR"> 
								<td class="column-columnname">
									<span id="cell_pt_BR_1" ><span class='pt_flag' style='background-position: -72px -12px;'>&nbsp;</span><b>Português/Brasil</b> (pt_BR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_pt_BR_pt_BR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_pt_BR_pt_BR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'pt_BR') ; return false ; " id="modify_transimagezoomimagezoom_false_pt_BR_pt_BR">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_pt_BR_pt_BR' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_BR_2" ><p><b>65/65</b> sentences have been translated (i.e. <b>100%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_BR_3" >FabyanoTitara &lt;titaraonline@gmailcom&gt;, Francisco (<a href='http://franko.cubava.cu'>his website</a>), GustavoSartori (<a href='http://www.linkdm.com.br/'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignero_RO"> 
								<td class="column-columnname">
									<span id="cell_ro_RO_1" ><span class='pt_flag' style='background-position: -90px -96px;'>&nbsp;</span><b>Română/România</b> (ro_RO)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_ro_RO_ro_RO').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_ro_RO_ro_RO').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'ro_RO') ; return false ; " id="modify_transimagezoomimagezoom_false_ro_RO_ro_RO">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_ro_RO_ro_RO' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ro_RO_2" ><p><b>41/65</b> sentences have been translated (i.e. <b>63%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ro_RO_3" >Francisco (<a href='http://franko.cubava.cu'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="ligneru_RU"> 
								<td class="column-columnname">
									<span id="cell_ru_RU_1" ><span class='pt_flag' style='background-position: -126px -96px;'>&nbsp;</span><b>Русский/Россия</b> (ru_RU)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_ru_RU_ru_RU').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_ru_RU_ru_RU').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'ru_RU') ; return false ; " id="modify_transimagezoomimagezoom_false_ru_RU_ru_RU">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_ru_RU_ru_RU' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ru_RU_2" ><p><b>65/65</b> sentences have been translated (i.e. <b>100%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ru_RU_3" >SedLex (<a href='http://www.sedlex.fr/'>his website</a>), sever (<a href='http://magadansever.ru'>his website</a>), Sprigin (<a href='http://Sprigin.ru'>his website</a>), vyachek &lt;<a href='mailto:vyachek@op.pl'>vyachek@op.pl</a>&gt;, Copyright (<a href='http://belfast.by'>his website</a>), OlegKovalenko (<a href='http://sdelanovpmr.info'>his website</a>), Elsper (<a href='http://Elsper.ru'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignetr_TR"> 
								<td class="column-columnname">
									<span id="cell_tr_TR_1" ><span class='pt_flag' style='background-position: -108px -108px;'>&nbsp;</span><b>Türkçe</b> (tr_TR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_tr_TR_tr_TR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_tr_TR_tr_TR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'tr_TR') ; return false ; " id="modify_transimagezoomimagezoom_false_tr_TR_tr_TR">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_tr_TR_tr_TR' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_tr_TR_2" ><p><b>11/65</b> sentences have been translated (i.e. <b>16.9%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_tr_TR_3" ></span>
								</td>
							</tr> 
							<tr class="" valign="top" id="ligneuk_UA"> 
								<td class="column-columnname">
									<span id="cell_uk_UA_1" ><span class='pt_flag' style='background-position: -180px -108px;'>&nbsp;</span><b>Українська</b> (uk_UA)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_uk_UA_uk_UA').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_uk_UA_uk_UA').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'uk_UA') ; return false ; " id="modify_transimagezoomimagezoom_false_uk_UA_uk_UA">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_uk_UA_uk_UA' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_uk_UA_2" ><p><b>65/65</b> sentences have been translated (i.e. <b>100%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_uk_UA_3" >IlliaLavrenko (<a href='http://ilavr.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignevi_VN"> 
								<td class="column-columnname">
									<span id="cell_vi_VN_1" ><span class='pt_flag' style='background-position: -54px -120px;'>&nbsp;</span><b>Tiếng Việt</b> (vi_VN)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_vi_VN_vi_VN').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_vi_VN_vi_VN').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'vi_VN') ; return false ; " id="modify_transimagezoomimagezoom_false_vi_VN_vi_VN">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_vi_VN_vi_VN' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_vi_VN_2" ><p><b>49/65</b> sentences have been translated (i.e. <b>75.3%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_vi_VN_3" >SedLex (<a href='http://www.sedlex.fr/'>his website</a>), Khco (<a href='http://khacdao.tk'>his website</a>), LinhHuong (<a href='http://www.adsraovat.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignezh_CN"> 
								<td class="column-columnname">
									<span id="cell_zh_CN_1" ><span class='pt_flag' style='background-position: -198px -12px;'>&nbsp;</span><b>中文(中华人民共和国)</b> (zh_CN)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_zh_CN_zh_CN').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_zh_CN_zh_CN').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'zh_CN') ; return false ; " id="modify_transimagezoomimagezoom_false_zh_CN_zh_CN">Modify</a><img id='wait_modify_transimagezoomimagezoom_false_zh_CN_zh_CN' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_zh_CN_2" ><p><b>17/65</b> sentences have been translated (i.e. <b>26.1%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_zh_CN_3" ></span>
								</td>
							</tr> 
						</tbody>
					</table>
<br/><h3>Add a new translation</h3><p>You may add a new translation hereafter (Please note that it is recommended to send your translation to the author so that he would be able to add your translation to the future release of the plugin !)</p><SELECT id='new_translation' name='new_translation' size='1'><option name='af_AF' value='af_AF' id='af_AF'>Afrikaans</option>
<option name='ar_BH' value='ar_BH' id='ar_BH'>العربية/البحرين</option>
<option name='ar_DZ' value='ar_DZ' id='ar_DZ'>العربية/الجزائر</option>
<option name='ar_EG' value='ar_EG' id='ar_EG'>العربية/مصر</option>
<option name='ar_IQ' value='ar_IQ' id='ar_IQ'>العربية/العراق</option>
<option name='ar_JO' value='ar_JO' id='ar_JO'>العربية/الأردن</option>
<option name='ar_KW' value='ar_KW' id='ar_KW'>العربية/الكويت</option>
<option name='ar_LY' value='ar_LY' id='ar_LY'>العربية/ليبيا</option>
<option name='ar_MA' value='ar_MA' id='ar_MA'>العربية/المغرب</option>
<option name='ar_OM' value='ar_OM' id='ar_OM'>العربية/سلطنة عمان</option>
<option name='ar_QA' value='ar_QA' id='ar_QA'>العربية/قطر</option>
<option name='ar_SA' value='ar_SA' id='ar_SA'>العربية/السعودية</option>
<option name='ar_TN' value='ar_TN' id='ar_TN'>العربية/تونس</option>
<option name='ar_YE' value='ar_YE' id='ar_YE'>العربية/اليمن</option>
<option name='az_AZ' value='az_AZ' id='az_AZ'>Azərbaycan</option>
<option name='be_BY' value='be_BY' id='be_BY'>Беларускі</option>
<option name='by_BY' value='by_BY' id='by_BY'>Беларускі</option>
<option name='ca_ES' value='ca_ES' id='ca_ES'>Сatalà/Espanya</option>
<option name='da_DK' value='da_DK' id='da_DK'>Dansk</option>
<option name='de_AT' value='de_AT' id='de_AT'>Deutsch/Österreich</option>
<option name='de_CH' value='de_CH' id='de_CH'>Deutsch/Schweiz</option>
<option name='de_LU' value='de_LU' id='de_LU'>Deutsch/Luxemburg</option>
<option name='el_CY' value='el_CY' id='el_CY'>Ελληνικά/Κύπρος</option>
<option name='el_GR' value='el_GR' id='el_GR'>Ελληνικά/Ελλάδα</option>
<option name='el_EL' value='el_EL' id='el_EL'>Ελληνικά/Ελλάδα</option>
<option name='en_AU' value='en_AU' id='en_AU'>English/Australia</option>
<option name='en_CA' value='en_CA' id='en_CA'>English/Canada</option>
<option name='en_GB' value='en_GB' id='en_GB'>English/United Kingdom</option>
<option name='en_IE' value='en_IE' id='en_IE'>English/Ireland</option>
<option name='en_NZ' value='en_NZ' id='en_NZ'>English/New Zealand</option>
<option name='en_PH' value='en_PH' id='en_PH'>English/Philippines</option>
<option name='en_ZA' value='en_ZA' id='en_ZA'>English/South Africa</option>
<option name='eo_EO' value='eo_EO' id='eo_EO'>Esperanto</option>
<option name='es_AR' value='es_AR' id='es_AR'>Español/Argentina</option>
<option name='es_BO' value='es_BO' id='es_BO'>Español/Bolivia</option>
<option name='es_CL' value='es_CL' id='es_CL'>Español/Chile</option>
<option name='es_CO' value='es_CO' id='es_CO'>Español/Colombia</option>
<option name='es_CR' value='es_CR' id='es_CR'>Español/Costa Rica</option>
<option name='es_DO' value='es_DO' id='es_DO'>Español/República Dominicana</option>
<option name='es_EC' value='es_EC' id='es_EC'>Español/Ecuador</option>
<option name='es_GT' value='es_GT' id='es_GT'>Español/Guatemala</option>
<option name='es_HN' value='es_HN' id='es_HN'>Español/Honduras</option>
<option name='es_MX' value='es_MX' id='es_MX'>Español/México</option>
<option name='es_NI' value='es_NI' id='es_NI'>Español/Nicaragua</option>
<option name='es_PA' value='es_PA' id='es_PA'>Español/Panamá</option>
<option name='es_PE' value='es_PE' id='es_PE'>Español/Perú</option>
<option name='es_PR' value='es_PR' id='es_PR'>Español/Puerto Rico</option>
<option name='es_PY' value='es_PY' id='es_PY'>Español/Paraguay</option>
<option name='es_SV' value='es_SV' id='es_SV'>Español/El Salvador</option>
<option name='es_UY' value='es_UY' id='es_UY'>Español/Uruguay</option>
<option name='es_VE' value='es_VE' id='es_VE'>Español/Venezuela</option>
<option name='et_EE' value='et_EE' id='et_EE'>Eesti/Eesti</option>
<option name='eu_ES' value='eu_ES' id='eu_ES'>Euskara/Basque</option>
<option name='fi_FI' value='fi_FI' id='fi_FI'>Suomi</option>
<option name='fo_FO' value='fo_FO' id='fo_FO'>Føroyskt</option>
<option name='fr_BE' value='fr_BE' id='fr_BE'>Français/Belgique</option>
<option name='fr_CA' value='fr_CA' id='fr_CA'>Français/Canada</option>
<option name='fr_CH' value='fr_CH' id='fr_CH'>Français/Suisse</option>
<option name='fr_LU' value='fr_LU' id='fr_LU'>Français/Luxembourg</option>
<option name='fy_NL' value='fy_NL' id='fy_NL'>Frysk</option>
<option name='ga_IE' value='ga_IE' id='ga_IE'>Gaeilge/Éire</option>
<option name='gl_ES' value='gl_ES' id='gl_ES'>Galician/Galicia</option>
<option name='he_IL' value='he_IL' id='he_IL'>עברית</option>
<option name='hi_IN' value='hi_IN' id='hi_IN'>हिन्दी</option>
<option name='id_ID' value='id_ID' id='id_ID'>Bahasa Indonesia</option>
<option name='in_ID' value='in_ID' id='in_ID'>Bahasa Indonesia/Indonesia</option>
<option name='is_IS' value='is_IS' id='is_IS'>Íslenska/Ísland</option>
<option name='it_CH' value='it_CH' id='it_CH'>Italiano/Svizzera</option>
<option name='ja_JP' value='ja_JP' id='ja_JP'>日本語</option>
<option name='kk_KK' value='kk_KK' id='kk_KK'>Қазақша</option>
<option name='ko_KR' value='ko_KR' id='ko_KR'>한국어</option>
<option name='ky_KY' value='ky_KY' id='ky_KY'>Кыргызча</option>
<option name='lb_LB' value='lb_LB' id='lb_LB'>Lëtzebuergesch</option>
<option name='lv_LV' value='lv_LV' id='lv_LV'>Latviešu/Latvija</option>
<option name='mk_MK' value='mk_MK' id='mk_MK'>Македонски/Македонија</option>
<option name='nb_NB' value='nb_NB' id='nb_NB'>‪Norsk Bokmål‬</option>
<option name='nb_NO' value='nb_NO' id='nb_NO'>‪Norsk Bokmål‬</option>
<option name='nl_BE' value='nl_BE' id='nl_BE'>Nederlands / België</option>
<option name='nn_NN' value='nn_NN' id='nn_NN'>Norsk / Nynorsk</option>
<option name='pt_PT' value='pt_PT' id='pt_PT'>Português/Portugal</option>
<option name='sk_SK' value='sk_SK' id='sk_SK'>Slovenčina/Slovenská republika</option>
<option name='sl_SI' value='sl_SI' id='sl_SI'>Slovenščina/Slovenija</option>
<option name='sq_AL' value='sq_AL' id='sq_AL'>Shqip</option>
<option name='sr_BA' value='sr_BA' id='sr_BA'>Српски/Босна и Херцеговина</option>
<option name='sr_CS' value='sr_CS' id='sr_CS'>Српски/Србија и Црна Гора</option>
<option name='sr_RS' value='sr_RS' id='sr_RS'>Srpski/Srbija</option>
<option name='sv_SE' value='sv_SE' id='sv_SE'>Svenska/Sverige</option>
<option name='th_TH' value='th_TH' id='th_TH'>ไทย/ประเทศไทย</option>
<option name='tl_PH' value='tl_PH' id='tl_PH'>Tagalog/Philippines</option>
<option name='xh_XH' value='xh_XH' id='xh_XH'>isiXhosa</option>
<option name='zh_MO' value='zh_MO' id='zh_MO'>中文(澳門特别行政區)</option>
<option name='zh_HK' value='zh_HK' id='zh_HK'>中文(香港特别行政區)</option>
<option name='zh_SG' value='zh_SG' id='zh_SG'>中文(新加坡)</option>
<option name='zh_TW' value='zh_TW' id='zh_TW'>中文(台灣)</option>
<option name='zu_ZU' value='zu_ZU' id='zu_ZU'>isiZulu</option>
</SELECT><input type='submit' name='add' class='button-primary validButton' onclick='translate_add("image-zoom","imagezoom", "false" );return false;' value='Add' /><img id='wait_translation_add' src='https://thebestalpaca.com/wp-content/plugins//image-zoom/core//img/ajax-loader.gif' style='display:none;'>