				.plugin-titleSL h2 {
					font-family: "Helvetica Neue",sans-serif;
					font-weight: bold; 
					font-size: 30px;
					max-width: 682px;
					position: absolute;
					left: 30px;
					bottom: 20px;
					padding: 15px;
					margin-bottom: 4px;
					color: #ffffff;
					background-color: rgba(30, 30, 30, 0.9);
					background-image: none;
					background-repeat: repeat;
					background-attachment: scroll;
					background-position: 0% 0%;
					background-clip: border-box;
					background-origin: padding-box;
					background-size: auto auto;
					text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
					box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;
					border-bottom-right-radius: 8px;
					border-bottom-left-radius: 8px; 				
				}
								.plugin-titleSL {
					position: absolute;
					top: 0px;
					left: 0px;
					width:772px;
					height:250px;
					background-image: url(https://thebestalpaca.com/wp-content/plugins//image-zoom/img/banner-772x250.png);
					background-size:772px 250px;
					box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
					z-index:-100;
				}
				.plugin-contentSL {
					margin-bottom:20px;					
					padding:20px ; 
					padding-top:270px ; 
				}
				
				

								@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
					.plugin-titleSL {
						background-image: url(https://thebestalpaca.com/wp-content/plugins//image-zoom/img/banner-1544x500.png);
					}
				}
				